
@media screen and (max-width: 1920px) {
  #main-body {
    display: none;
  }
}

@media screen and (max-width : 699px){
    .width-699{
        display: none;
    }
}
@media screen and (max-width : 799px){
    .width-799{
        display: none;
    }
}
@media screen and (max-width : 899px){
    .width-899{
        display: none;
    }
}
@media screen and (max-width : 999px){
    .width-999{
        display: none;
    }
}